<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaPercursoController</servlet-name>
        <servlet-class>controller.PesquisaPercursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTapeteController</servlet-name>
        <servlet-class>controller.PesquisaTapeteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCorridaController</servlet-name>
        <servlet-class>controller.PesquisaCorridaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCategoriaController</servlet-name>
        <servlet-class>controller.PesquisaCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaOrganizadorController</servlet-name>
        <servlet-class>controller.PesquisaOrganizadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <servlet-class>controller.PesquisaAtletaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPercursoController</servlet-name>
        <servlet-class>controller.ManterPercursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTapeteController</servlet-name>
        <servlet-class>controller.ManterTapeteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaPercursoController</servlet-name>
        <url-pattern>/PesquisaPercursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTapeteController</servlet-name>
        <url-pattern>/PesquisaTapeteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCorridaController</servlet-name>
        <url-pattern>/PesquisaCorridaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCategoriaController</servlet-name>
        <url-pattern>/PesquisaCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaOrganizadorController</servlet-name>
        <url-pattern>/PesquisaOrganizadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <url-pattern>/PesquisaAtletaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPercursoController</servlet-name>
        <url-pattern>/ManterPercursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTapeteController</servlet-name>
        <url-pattern>/ManterTapeteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
